<div class="outer">
    
        <ul class="container">
            <li><a href="/home"><h3>HOME</h2></a></li>
            <li><a href="/services"><h3>SERVICES</h2></a></li>
            <li><a href="/contact"><h3>CONTACT</h2></a></li>

        </ul>
    
</div>