<!DOCTYPE html>
<html lang="en">
    <head>
        <%-  include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%-  include('../partials/header'); %>
        </header>
        <div class="  plate-1">
            <h1>CONTACT</h1>
            <P>Theodore Lowe
                Ap #867-859 Sit Rd.
                Azusa New York 39531
                (793) 151-623
                jsmith.designs@protonmail.com
            </P>
           
        </div>
        <footer>
            <%-  include('../partials/footer'); %>
        </footer>
    </body>
</html>